body {


}
.card {
width: 400px;
float: right;
}

.news-div {
  width: 400px;
  height: 50px;
  display: inline-block;
}

/* Table styling LeagueTable and top5Table */

.home-table-container {
}

.team-crests-div {
  margin: 40px;
  text-align: center;
}

.crest-card-img {
  margin: 9px;
}

.league-table {

}

.table {
  margin-top: 100px;
}

.thead {
}
