body {
  background-image: url("./images/background.jpg");
  background-size: contain;


}
.card {
width: 400px;
float: right;
}

.news-div {
  width: 400px;
  height: 50px;
  display: inline-block;
}

/* Table styling LeagueTable and top5Table */

.league-table {
  width: 300px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#table-thead {
  text-align: center;
  margin: 50px;
  font-size: 100px;
}

#league-logo {
  width: 300px;
  height: 200px;
}

.tg-0lax1 {
  font-size: 30px;
}

.tg-0lax {
  font-weight: bold;
}

.img {
  width: ;
}

.team-position {
  font-size: 30px;
  font-weight: bold;
}

.team-crests-div {
  margin: 5px;
  text-align: center;
}

.crest-card-img {
  margin: 9px;
}

.league-table {

}

.table {
  margin-top: 100px;
}

/* all teams styling */

.all-teams-div {

}

.image-div {
  display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      width: 500px;
      margin: 0 auto;
}

#all-teams-header {
  text-align: center;
  font-weight: 400;
  font-size: 500;
}

.search {
text-align: center;
}

#user-profile-container {
  text-align: center;
}

#avatar {
  width: 200px;
  height: 200px;
  margin: 35px;
  float: left;
}

#h3-username {
  text-align: left;
  font-size: 40px;
  margin-left: 35px;
}

#fav-teams-header {
  font-size: 50px;
}

/* about page styling */
#profile-pic {
  border-radius: 50%;
  margin: 30px;
}

.bio-div {
  font-size: 20px;
  font-weight: 800;
  height: 100px;
  width: 200px;
  color: white;

}

/* Navbar styling */

.navbar-nav {
  text-align: center;
}
